.InfoPage{
    padding: 60px 100px ;
    color: #c9d1d9;

}
.InfoPageTitle{
    font-size: 30px;
    font-weight: bold;
}
.Container{
    width: 60vw;
    min-height: 40vh;
    border-radius: 6px;
    border: 1px solid #282c34;
    margin: auto;
    font-size: 16px;
    padding: 20px 40px 40px 40px;
}
.LinkContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.LinkContainer a{
    padding: 5px 15px;
    width: max-content;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    background-color: #282c34;
    border: 1px solid #c9d1d9;
    color: #c9d1d9;
}
.LinkContainer a:hover{
    opacity: 20%;
}
.LinkContainer a:active{
    transform: scale(80%);
}